<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">
<!-- Lint rules for the backend. Focus: correctness and hygiene, not formatting taste. -->
<module name="Checker">
    <property name="charset" value="UTF-8"/>
    <property name="severity" value="warning"/>
    <property name="fileExtensions" value="java"/>

    <module name="FileTabCharacter"/>
    <module name="NewlineAtEndOfFile"/>
    <module name="LineLength">
        <property name="max" value="140"/>
        <property name="ignorePattern" value="^(package|import) "/>
    </module>
    <module name="RegexpSingleline">
        <property name="format" value="System\.(out|err)\.print|\.printStackTrace\("/>
        <property name="message" value="Use the logger instead of printing to the console."/>
    </module>
    <module name="RegexpSingleline">
        <property name="format" value="\b(TODO|FIXME|XXX)\b"/>
        <property name="message" value="Unfinished work markers are not allowed."/>
    </module>

    <module name="RegexpSingleline">
        <property name="format" value="^\s*[^/*].*\bsynchronized\b"/>
        <property name="message" value="Use java.util.concurrent.locks.ReentrantLock instead of synchronized (virtual-thread pinning)."/>
    </module>
    <!-- Spring must be able to instantiate the @SpringBootApplication class. -->
    <module name="SuppressionSingleFilter">
        <property name="files" value="InsideJokeApplication\.java$"/>
        <property name="checks" value="HideUtilityClassConstructor"/>
    </module>

    <module name="TreeWalker">
        <module name="AvoidStarImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>
        <module name="IllegalImport"/>
        <module name="NeedBraces"/>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StringLiteralEquality"/>
        <module name="OneStatementPerLine"/>
        <module name="MultipleVariableDeclarations"/>
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>
        <module name="UpperEll"/>
        <module name="ArrayTypeStyle"/>
        <module name="MissingOverride"/>
        <module name="FallThrough"/>
        <module name="DefaultComesLast"/>
        <module name="EmptyBlock">
            <property name="option" value="TEXT"/>
        </module>
        <module name="EmptyCatchBlock">
            <property name="exceptionVariableName" value="expected|ignored"/>
        </module>
        <module name="IllegalCatch">
            <property name="illegalClassNames" value="java.lang.Throwable, java.lang.Error"/>
        </module>
        <module name="FinalClass"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="TypeName"/>
        <module name="MemberName"/>
        <module name="ParameterName"/>
        <module name="LambdaParameterName"/>
        <module name="LocalVariableName"/>
        <module name="LocalFinalVariableName"/>
        <module name="StaticVariableName"/>
        <module name="ClassTypeParameterName"/>
        <module name="MethodTypeParameterName"/>
        <module name="RecordComponentName"/>
        <module name="AbbreviationAsWordInName">
            <property name="allowedAbbreviationLength" value="1"/>
            <property name="ignoreStatic" value="true"/>
            <property name="ignoreFinal" value="true"/>
        </module>
        <module name="CustomImportOrder">
            <property name="customImportOrderRules" value="STATIC###THIRD_PARTY_PACKAGE"/>
            <property name="sortImportsInGroupAlphabetically" value="true"/>
            <property name="separateLineBetweenGroups" value="true"/>
        </module>
        <module name="MethodName"/>
        <module name="ConstantName">
            <property name="format" value="^(log|[A-Z][A-Z0-9]*(_[A-Z0-9]+)*)$"/>
        </module>
        <module name="PackageName">
            <property name="format" value="^com\.insidejoke(\.[a-z][a-z0-9]*)*$"/>
        </module>
    </module>
</module>
